<!doctype html>
<title>OLA AMOROSO, Nós te amamos</title>
<body style="background: {{ color }};"></body>
<div style="color: #e4e4e4;
    text-align:  center;
    height: 90px;
    vertical-align:  middle;">
{% if name %}
  <h1>Hello from {{ name }}!</h1>
  <img src="https://i1.rgstatic.net/ii/profile.image/285599102717952-1445103540338_Q512/Edgard-Amoroso.jpg">
  <h2>OLA AMOROSO, Nós te amamos</h2>
  <h3 style="font-size:90px;">Por que não me deu 50 na atividade? :(</h3>
{% else %}
  <h1>Hello, World!</h1>
{% endif %}

  {% if contents %}
  <textarea rows="10" cols="50">
    {{ contents }}
  </textarea>
  {% endif %}

</div>
